* {
    font-family: sans-serif;
}

.main_title {
    font-size: 36pt;
    font-style: italic;
    text-align: center;
    font-family: 'Yusei Magic', sans-serif;
}

.slidein {
    animation-name: slidein;
    animation-duration: 3s;
}

@keyframes slidein {
    from {
        opacity: 0%;
        margin-right: 1.5625rem;
    }
    to {
        opacity: 100%;
        margin-right: 0rem;
    }
}
