/* 
Form control 
*/

/* Group fields with border */
.fieldset_bordered {
    margin: 0.625rem;
    border: 0.0625rem solid black;
}

/* Apply margin rule with legend */
.fieldset_bordered_legend {
    margin: 0.625rem;
    text-align: center;
}

/* set bordered background */
.fieldset_menu_bg {
    background-color: #0ac93dbb;
}

/* Set spacing for an input element */
.input_margin {
    margin-bottom: 0.625rem;
}

/* validation fields */

/* specifics to ingredients_search */
#add_to_list {
    background-color: #0ac93dbb;
}
.search_bar {
    /* min-width: 31.25rem; */
    padding: 0.75rem;
    margin-bottom: 0rem;
}
@media (max-width: 23.125rem) {
    .search_bar {
        min-width: 23.125rem;
    }
}
/* buttons */
.search:hover {
    background-color: beige;
    color: black;
}
