/* Image rules */

/* float */

.intro_header_img {
    max-width: 75rem;
    max-height: 37.5rem;
}

.show {
    visibility: visible;
    z-index: 2;
    display: flex;
    width: 65vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0.125rem;
}

.hidden {
    visibility: hidden;
}
