/* Class selector for floating right */
body {
    background-color: #fcf8e3;
}

.float_right {
    float: right;
}

.food_container {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
}

.food_container_img {
    flex-grow: 1;
    max-height: 18.75rem;
    max-width: 18.75rem;
}
